<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>

.home{
        width: 100px;
        height: 50px;
        color:#333;
      }
</style>
</head>
<body>

    <form action="/movies" method="POST">
        <input type="text" name="new_name" placeholder="name..."/>
        <input type="text" name="new_picture" placeholder="picture link..."/>
        <input type="text" name="new_cost" placeholder="cost..."/>
        <input type="text" name="new_movie" placeholder="type of movie..."/>
        <input type="text" name="new_genre" placeholder="genre"/>
        <button>Add</button>

    </form>
</body>
</html>