<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration Page</title>,
  <link rel="stylesheet" href={{ url_for("static", filename="css/login.css")}}>


</head>
<body>
  <div class="container">
    <div class="login-box">
      <a href="http://127.0.0.1:5000/registration">Registration</a>
      <h6>If you have no account</h6>

    </div>
    <div class="register-box">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <div class="user-box">
          <input type="text" name="username" required="">
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="">
          <label>Password</label>
        </div>
        <button>Submit</button>
      </form>
    </div>
  </div>
</body>
</html>