<!DOCTYPE html>
<html>
  <head>
    <title>Choose the movie</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css')}}>

  </head>

  <body>

    
    <div class="container">
      <h1>{{name}} would you like to watch</h1>
      <div class="lobby">
        <ul>

          <li><a href="http://127.0.0.1:5000/movies">All movies</a></li>
          <h3>|</h3>
          <li><a href="http://127.0.0.1:5000/watch_later">Watch later</a></li>

        </ul>
      </div>
        <pre>
        
      <div class="genres">
        <ul>
          <li><a href="http://127.0.0.1:5000/movies/drama">Drama  </a></li>
          <li><a href="http://127.0.0.1:5000/movies/horror">Horror  </a></li>
          <li><a href="http://127.0.0.1:5000/movies/comedy">Comedy  </a></li>
          <li><a href="http://127.0.0.1:5000/movies/roman">Roman  </a></li>
        </pre>

        </ul>
      </div>

      <div class="login_reg">
        <ul>
          <li><a href="http://127.0.0.1:5000/login">Login  </a></li>
          <li><a href="http://127.0.0.1:5000/registration">Registration  </a></li>
        </pre>

        </ul>
      </div>
    </div>
  </body>
</html>