<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Website</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/media.css")}} />

  </head>
  <body>
    <header>

      <h1>{{genre}} Movies:</h1>

    </header>
    <a class="home" href="http://127.0.0.1:5000/">Home</a>
    <main>

      <h2>Films:</h2>

      <ul>
        
        {% for data in films %}
        <li>
            <a href="#">
              <img class="pic" src={{films[data][0]}} alt="picture"/>
              <h3>{{data}}</h3>
              <p>{{films[data][2]}} ({{films[data][3]}}) </p>
              <p>{{films[data][1]}}</p> 
            </a>
          </li>
          <li>

          <form action="/movie_info" method="POST"> 
            <button>Movie info</button>

    

            <form action="/watch_later/add" method="POST">
              <textarea style="display: none;" name="movie_name" >{{data}}</textarea>
              <textarea style="display: none;" name="movie_picture" >{{films[data][0]}}</textarea>
              <textarea style="display: none;" name="movie_cost" >{{films[data][1]}}</textarea>
              <textarea style="display: none;" name="movie_type">{{films[data][2]}}</textarea>
              <textarea style="display: none;" name="movie_genre" >{{films[data][3]}}</textarea>
              <button>Watch later</button>
            </form>
        {% endfor %}
      </ul>



      <h2>Series:</h2>

      <ul>
        {% for data in series %}
        <li>
            <a href="#">
              <img class="pic" src={{series[data][0]}} alt="picture" />
              <h3>{{data}}</h3>
              <p>{{series[data][2]}} ({{series[data][3]}}) </p>
              <p>{{series[data][1]}}</p> 
            </a>
          </li>
          <li>
            <form action="/movie_info" method="POST"> 
              <button>Movie info</button>

            <form action="/watch_later/add" method="POST">
              <textarea style="display: none;" name="movie_name" >{{data}}</textarea>
              <textarea style="display: none;" name="movie_picture" >{{series[data][0]}}</textarea>
              <textarea style="display: none;" name="movie_cost" >{{series[data][1]}}</textarea>
              <textarea style="display: none;" name="movie_type">{{series[data][2]}}</textarea>
              <textarea style="display: none;" name="movie_genre" >{{series[data][3]}}</textarea>
              <button>Watch later</button>
            </form>
        {% endfor %}
      </ul>

    </main>

    <footer>
      
    </footer>
  </body>
</html>