<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Website</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/movies.css")}} />

  </head>
  <body>
    <header>
      <h1>{{username}}</h1>
      <h1>Top Movies:</h1>
      <nav>
        <ul>
          <li><a href="http://127.0.0.1:5000/">Home</a></li>
          <li><a href="http://127.0.0.1:5000/watch_later">Watch later</a></li>
        </ul>
      </nav>
    </header>
    <a class="home" href="http://127.0.0.1:5000/">Home</a>
    <main>
      <h2>Popular now:</h2>
      <ul>

        {% for data in movies %}
        <li>
          
            <a href="#"">
              <img name="movie_picture" class = "pic" src={{movies[data][0]}} alt="picture" />
              <h3 name="movie_name">{{data}}</h3>
              <p name="movie_type">{{movies[data][2]}} </p>
              <p name="movie_genre">{{movies[data][3]}} </p>
              <p name="movie_cost">{{movies[data][1]}} </p> 
            </a>
          </li>

        <form action="/movie_info" method="POST"> 
          <button>Movie info</button>
            

        <form action="/watch_later/add" method="POST">
            <textarea style="display: none;" name="movie_name" >{{data}}</textarea>
            <textarea style="display: none;" name="movie_picture" >{{movies[data][0]}}</textarea>
            <textarea style="display: none;" name="movie_cost" >{{movies[data][1]}}</textarea>
            <textarea style="display: none;" name="movie_type">{{movies[data][2]}}</textarea>
            <textarea style="display: none;" name="movie_genre" >{{movies[data][3]}}</textarea>
            <button>Watch later</button>
    
        </form>
        {% endfor %}
        
      </ul>

    </main>

    <footer>
    </footer>
  </body>
</html>