<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Website</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/watch_later.css')}}>

  </head>
  <body>
    
    <header>
      <h1>Watch later:</h1>
      <h1>username</h1> 
      
      <form action="/watch_later/clear" method="POST">
            
        <button class="button" name="clear_button">Clear</button>
      </form>

    </header>
    <a class="home" href="http://127.0.0.1:5000/">Home</a>
    <main>
      <ul>
        
        {% for data in watch_later %}
        <li>
            <a href="#">
              <img class = "pic" src={{watch_later[data][0]}} alt="picture" />
              <h3 name="movie_name">{{data}}</h3>
              <p>{{watch_later[data][2]}} ({{watch_later[data][3]}}) </p>
              <p>{{watch_later[data][1]}}</p> 
            </a>
          </li>
          
          
        {% endfor %}
        
      </ul>
    </main>

    <footer>
    </footer>
  </body>
</html>